* {
    box-sizing: border-box;
    }

    body {
    font-family: Arial, Helvetica, sans-serif;
    }

    header {
    background-color: rgb(218, 1, 1);
    padding: 30px;
    text-align: center;
    font-size: 25px;
    color: white;
    }

    nav{
    float: left;
    background-color: rgb(231, 215, 213);
    padding-left: 30px;
    height:100vh;
    width: 120px;
    color:black;
    }

    nav ul {
    list-style-type: none;
    padding: 0;
    }

    article {
    float: left;
    padding: 50px;
    height: 100%;
    width: 90%;
    text-align: center;
    }

    section::after {
    content: "";
    display: table;
    clear: both;
    }

    footer {
    background-color:rgb(56, 0, 0);
    padding: 10px;
    text-align: center;
    color: white;
    }

    div.contenedor{
    padding-left: 220px;
    padding-right: 190px;
    }

    div.pokemon{
    margin: 4.5px;
    float: left;
    width: 180px;
    }

    div.pokemon img{
    width: 97%;
    height: auto;
    background-color: rgb(243, 234, 233);
    border-radius: 10px;
    }

    span.icono {
    position: relative;
    display: inline-block;
    }

    span.icono .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    }

    span.icono:hover .img-top {
    display: inline;
    }
    
    span.número{
    font-size: 14px;
    color: rgb(46, 46, 46);
    padding-left: 6px;
    }

    span.nombre{
    font-size: 18px;
    font-weight: bold;
    color: black;
    padding-left: 12px;
    }

    span.eléctrico{
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 8px;
    padding-right: 8px;
    color: black;
    vertical-align: center;
    background-color: yellow;
    border-radius: 3px;
    margin-left: 4px;
    font-size: 11px;
    }

    span.veneno{
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 8px;
    padding-right: 8px;
    color: rgb(255, 255, 255);
    vertical-align: center;
    background-color: rgb(135, 39, 180);
    border-radius: 3px;
    margin-left: 4px;
    font-size: 11px;
    }

    span.tierra{
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 8px;
    padding-right: 8px;
    color: rgb(255, 255, 255);
    vertical-align: center;
    background: linear-gradient(
    180deg,#d18b22 50%, #784119 50%);
    border-radius: 3px;
    margin-left: 4px;
    font-size: 11px;
    }

    span.hada{
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 8px;
    padding-right: 8px;
    color: black;
    vertical-align: center;
    background-color: rgb(255, 163, 194);
    border-radius: 3px;
    margin-left: 4px;
    font-size: 11px;
    }
    
    @media (max-width: 600px) {
        nav, article {
            width: 100%;
            height: auto;
        }
    }