* {
    box-sizing: border-box;
  }
  body{
    font-family: Arial, Helvetica, sans-serif;
  } 
  header{
    background: -webkit-linear-gradient(to top, rgb(102, 3, 3), #EF1818);  
    background: linear-gradient(to top, rgb(102, 3, 3), #EF1818); 
    padding: 40px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-family: Helvetica;
    color: white;
  }
  
  section{
  margin-top: 200px;
  position: absolute;
  }
  
  .navigation{
    margin-bottom: 10px;
    position: relative;
    width: 1235px;
    height: 70px;
    background-color: white;
    border-radius: 35px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
  }
  
  .navigation ul{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  }
  
  .navigation ul li{
    margin-left: 20px;
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
  }
  
  .navigation ul li a{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  font-weight: 500px;
  color: #000000;
  }
  
  .navigation ul li a .icon{
  position: relative;
  display: block;
  line-height: 70px;
  transition: 0.5s;
  }
  
  .navigation ul li a .title{
    position: absolute;
    top: -70px;
    left: 50px;
    transform: translate(-50%, -15%);
    background: white;
    padding: 10px 20px;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
  }
  
  .navigation ul li:hover a .title{
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 50%);
  }
  
  .navigation ul li a .title :before{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background: white;
    bottom: -8px;
    bottom: 48%;
    transform: rotate(45deg) translateX(-50%);
    border-radius: 2px;
  }
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background-image: url(images/Fondo-10-rayas.png);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;  
    background-color: rgb(224, 224, 224);
    font-family: Arial, Helvetica, sans-serif;
  } 

  article{
    margin-top: 1170px;
    position: absolute;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 1140px;
    text-align: center;
    border-radius: 0;
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
    z-index: -2;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 300px 300px 300px 300px;
    grid-row-gap: 8px;
    grid-column-gap: 20px;
    }


    div.pokemon{
      margin: 5px;
      width: 300px;
      max-width: 300px;
      float: middle;
      padding: 20px;
      box-sizing: border-box;
      margin-top: 300px;
    }
    div.pokemon img{
      width: 70%;
      height: auto;
      background-color: rgb(240, 240, 240);
      border-radius: 35px;
      transition: width 0.5s, height 0.5s;
    }

    div.pokemon  img:hover {
        width: 210px;
        height: 210px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.10); 
      }

    span.numero{
      padding-left: 5px;
      font-size: 14px;
      color:rgba(211, 211, 211, 0.911);
      text-align: center;
      font-family: Helvetica;
    }
    span.nombre{
      padding-left: 12px;
      font-size: 20px;
      font-weight: bold;
      font-family: Helvetica;
      color:rgb(0, 0, 0);
      text-align: center;
    }
    span.planta{
      padding-top: 2px;
      padding-bottom: 4px;
      padding-left: 15px;
      padding-right: 15px;
      vertical-align:middle;
      font-weight: bold;
      font-size: 14px;
      color:white;
      background-color: #9bcc50;
      border-radius: 20px;
      margin-left: 4px;
    }
    span.veneno{
      padding-top: 2px;
      padding-bottom: 4px;
      padding-left: 15px;
      padding-right: 15px;
      vertical-align:middle;
      font-weight: bold;
      font-size: 14px;
      color:white;
      background-color: #b97fc9;
      border-radius: 20px;
      margin-left: 4px;
    }
    span.fuego{
      padding-top: 2px;
      padding-bottom: 4px;
      padding-left: 15px;
      padding-right: 15px;
      vertical-align:middle;
      font-weight: bold;
      font-size: 14px;
      color:white;
      background-color: #fd7d24;
      border-radius: 20px;
      margin-left: 4px;
    }
    span.volador{
      padding-top: 2px;
      padding-bottom: 4px;
      padding-left: 15px;
      padding-right: 15px;
      vertical-align:middle;
      font-weight: bold;
      font-size: 14px;
      color:white;
      background: linear-gradient(
      180deg, #3dc7ef 50%, #bdb9b8 50%);
      border-radius: 20px;
      margin-left: 4px;
    }
    span.agua{
      padding-top: 2px;
      padding-bottom: 4px;
      padding-left: 15px;
      padding-right: 15px;
      vertical-align:middle;
      font-weight: bold;
      font-size: 14px;
      color:white;
      background-color: #4592c4;
      border-radius: 20px;
      margin-left: 4px;
    }
    span.bicho{
      padding-top: 2px;
      padding-bottom: 4px;
      padding-left: 15px;
      padding-right: 15px;
      vertical-align:middle;
      font-weight: bold;
      font-size: 14px;
      color:white;
      background-color: #729f3f;
      border-radius: 20px;
      margin-left: 4px;
    }

    span.tierra{
      padding-top: 2px;
      padding-bottom: 4px;
      padding-left: 15px;
      padding-right: 15px;
      vertical-align:middle;
      font-weight: bold;
      font-size: 14px;
      color:white;
      background: linear-gradient(
180deg, #f7de3f 50%, #ab9842 50%);
    background-color: #f7de3f;
      border-radius: 20px;
      margin-left: 4px;
    }

    span.roca{
      padding-top: 2px;
      padding-bottom: 4px;
      padding-left: 15px;
      padding-right: 15px;
      vertical-align:middle;
      font-weight: bold;
      font-size: 14px;
      color:white;
      background-color: #a38c21;
      border-radius: 20px;
      margin-left: 4px;
    }
    span.normal{
      padding-top: 2px;
      padding-bottom: 4px;
      padding-left: 15px;
      padding-right: 15px;
      vertical-align:middle;
      font-weight: bold;
      font-size: 14px;
      color:white;
      background-color: #a4acaf;
      border-radius: 20px;
      margin-left: 4px;
    }
    
    footer{
      margin-top: 2300px;
      position: absolute;
      background: -webkit-linear-gradient(to top, rgb(102, 3, 3), #EF1818);  
      background: linear-gradient(to top, rgb(102, 3, 3), #EF1818); 
      padding: 40px; 
      width: 100%;
      text-align: center;
      color: white;
    }