* {
    box-sizing: border-box;
  }
  body {
    justify-content: center;
    background-image: url(images/Fondo.png);        
    background-color: rgb(224, 224, 224);
    font-family: Arial, Helvetica, sans-serif;
  }
  header img{
    margin-left: 0px;
    margin-top: -9px;
    width: 1415px;
    
  }
  header{
    background-color: firebrick;
    padding: 0px;
    margin-left: 120px;
    height: 430px;
    width: 1415px;
    text-align: center;
    font-size: 18px;
    color: white;
    border-radius: 30px;
    position: relative;
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
  }

  #navegar a{
      margin-top: 400px;
      position: absolute;
      left: -80px;
      transition: 0.3s;
      padding: 10px;
      width: 135px;
      text-decoration: none;
      font-size: 15px;
      color: white;
      border-radius: 0 5px 5px 0;
  }
  #navegar a:hover {
      left: 0;
      box-shadow: 0 15px 25px rgba(0, 0, 0, 0.275);
  }
  #pag1 {
      top: 20px;
      background-color: firebrick;
  }
  #pag2 {
      top: 80px;
      background-color: firebrick;
  }
  #pag3 {
      top: 140px;
      background-color: firebrick;
  }
  #pag4 {
      top: 200px;
      background-color: firebrick;
  }
  #pag5 {
      top: 260px;
      background-color: firebrick;
  }
  #pag6 {
      top: 320px;
      background-color: firebrick;
  }
  #pag7 {
      top: 380px;
      background-color: firebrick;
  }
  #pag8 {
      top: 440px;
      background-color: firebrick;
  }
  #pag9 {
      top: 500px;
      background-color: firebrick;
  }
  #pag10 {
      top: 560px;
      background-color: firebrick;
  }
  #pag11 {
      top: 620px;
      background-color: firebrick;
  }
  #pag12 {
      top: 680px;
      background-color: firebrick;
  }
  #pag13 {
      top: 740px;
      background-color: rgb(97, 14, 14);
  }
  article{
    margin-top: -25px;
    display: flex;
    margin-left: 120px;
    background-color: white;
    width:1415px;
    height: 970px;
    border-radius: 0;
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
    z-index: -2;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
    grid-template-rows: 325px 325px 325px 325px;
    grid-row-gap: 8px;
    grid-column-gap: 20px;
  }

  div.pokemon{
    margin: 5px;
    float: left;
    width: 180px;
  }
  div.pokemon img{
    margin-top: 200px;
    width: 140%;
    height: auto;
    background-color: rgb(245, 245, 245);
    transition: width 0.5s, height 0.5s;
    border-radius: 10px;
  }
  div.pokemon  img:hover {
    width: 260px;
    height: 260px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.124); 
  }
  span.numero{
    padding-left: 6px;
    vertical-align: top;
    font-size: 14px;
    color:dimgray;
  }
  span.nombre{
    padding-left: 12px;
    font-size: 18px;
    font-weight: bold;
    color:rgb(46, 46, 46);
  } 
  
  span.dragon{
    padding-top: 2px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align:middle;
    font-weight: bold;
    font-size: 14px;
    color:white;
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    border-radius: 3px;
    margin-left: 4px;
  }
  span.psiquico{
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align:middle;
    font-weight: bold;
    font-size: 14px;
    color:white;
    background-color: #f366b9;
    border-radius: 3px;
    margin-left: 4px;
  }
  span.fuego{
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align:middle;
    font-weight: bold;
    font-size: 14px;
    color:white;
    background-color: #fd7d24;
    border-radius: 3px;
    margin-left: 4px;
  }
  span.volador{
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align:middle;
    font-weight: bold;
    font-size: 14px;
    color:white;
    background: linear-gradient(
    180deg, #3dc7ef 50%, #bdb9b8 50%);
    border-radius: 3px;
    margin-left: 4px;
  }
  span.electrico{
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align:middle;
    font-weight: bold;
    font-size: 14px;
    color:white;
    background: #eed535;
    border-radius: 3px;
    margin-left: 4px;
  }
  footer{
    margin-bottom: -100px;
    background-color: firebrick;
    width: 1415px;
    padding: 18px; 
    text-align: center;
    color: white;
    margin-left: 120px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.179); 
  }