* {
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
} 
header{
    background-color: firebrick;
    padding: 6px;
    text-align: center;
    font-size: 18px;
    color: white;
}
section::after{
    content: "";
    display: table;
    clear: both;
}
nav{
    float: left;
    background-color: dimgray;
    padding-left: 30px;
    padding-bottom: 30px;
    height:inherit;
    width: 240px;
    color:white;
}
nav .button{
    background-color: firebrick;
    border:#690000;
    border-width: 4px;
    border-style:outset;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor:pointer;
    width:80%;
    background-image: url('images/Pokeball.jpg');
}
nav ul{
    list-style-type: none;
    padding: 0;
}
article{
    /*float: left;*/
    margin-left: 240px;
    height: 100%;
    width: auto;
}
footer{
    background-color: firebrick;
    padding: 18px; 
    text-align: center;
    color: white;
}
div.pokemon{
    margin: 5px;
    float: left;
    width: 180px;
}
div.pokemon img{
    width: 100%;
    height: auto;
    background-color: mistyrose;
    border-radius: 10px;
}
span.numero{
    padding-left: 6px;
    vertical-align: top;
    font-size: 14px;
    color:dimgray;
}
span.nombre{
    padding-left: 12px;
    font-size: 18px;
    font-weight: bold;
    color:rgb(46, 46, 46);
}
span.tipo{
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align:middle;
    font-weight: bold;
    font-size: 14px;
    color:white;
    border-radius: 3px;
    margin-left: 4px;
}
span.bicho{
    background-color: #729f3f;
}
span.dragon{
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
}
span.electrico{
    background-color: #eed535;
}
span.electrico{
    background-color: #fdb9e9;
}
span.lucha{
    background-color: #d56723;
}
span.fuego{
    background-color: #fd7d24;
}
span.volador{
    background: linear-gradient(
    180deg, #3dc7ef 50%, #bdb9b8 50%);
}
span.fantasma{
    background-color: #7b62a3;
}
span.planta{
    background-color: #9bcc50;
}
span.tierra{
    background: -webkit-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
}
span.hielo{
    background-color: #51c4e7;
}
span.normal{
    background-color: #a4acaf;
}
span.veneno{
    background-color: #b97fc9;
}
span.psiquico{
    background-color: #f366b9;
}
span.roca{
    background-color: #a38c21;
}
span.agua{
    background-color: #4592c4;
}