/*FORMATO BASE*/
*{
  font-family: Arial, Helvetica, sans-serif;
}
 .contenedor{
     width: 100%;
     margin: 0 auto;
     overflow: hidden;
     max-width: 1200px;
 }
body{
  background-image: url(/public/images/bg-poke09.png);
}

.header{
    background-color: #cd7243;
    color: white;
    font-size: 25px;
    padding: 30px; 
    text-align: center;  
    width: auto;
    height: 50%;
    box-sizing: border-box;
  } 
 
.article{
     float:right;
     margin-top: auto;
     position: absolute;
     justify-content: center;
     align-items: center;
     width: auto;
     height: 100%;
     text-align: center;
     z-index: -2;
     display: grid;
     grid-template-columns: 300px 300px 300px 300px ;
     grid-template-rows: 300px 300px 300px 300px;
     gap:3px; 
     box-sizing: border-box;   
}
    
.footer{
    margin-top: 1000px;
    position:inherit;
    background: rgb(32, 49, 90);   
    padding: 30px; 
    text-align: center;
    color: white;
    width: auto;
    height: 100%;
    box-sizing: border-box;   
}

/* Tipos de pokemones*/
div.pokemon{
    background-color: whitesmoke;
    margin: 5px;
    width: 250px;
    max-width: 250px;
    border-radius: 15px;
    box-align: center;
    float: middle;
    padding: 10px;
    margin-top: 50px; /*margen de cada pokemon*/
  }
span.planta{
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align:middle;
    font-weight:normal;
    font-size: 14px;
    color:rgb(255, 254, 254);
    background-color: #8cc43a;
    border-radius: 5px;
    margin-left: 4px;
  }
  span.electrico{
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align:middle;
    font-weight: normal;
    font-size: 14px;
    color:rgb(17, 1, 1);
    background-color: #ccc906;
    border-radius: 5px;
    margin-left: 4px;
  }
  span.psiquico{
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align:middle;
    font-weight: normal;
    font-size: 14px;
    color:white;
    background-color: #a7113e;
    border-radius: 5px;
    margin-left: 4px;
  }
  span.lucha{
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align:middle;
    font-weight: normal;
    font-size: 14px;
    color:white;
    background-color:rgb(179, 52, 6);
    border-radius: 5px;
    margin-left: 4px;
  }
  span.agua{
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align:middle;
    font-weight: normal;
    font-size: 14px;
    color:white;
    background-color: #4592c4;
    border-radius: 5px;
    margin-left: 4px;
  }
  span.tierra{
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align:middle;
    font-weight: normal;
    font-size: 14px;
    color:rgb(17, 16, 16);
    background: linear-gradient(
180deg, #f7de3f 50%, #ab9842 50%);
  background-color: #f7de3f;
    border-radius: 5px;
    margin-left: 4px;
  }
  span.normal{
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align:middle;
    font-weight:normal;
    font-size: 14px;
    color:white;
    background-color: #5b5d5e;
    border-radius: 5px;
    margin-left: 5px;
  }
  span.numero{
    font-family: monospace;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    padding-left: 5px;
    color:rgba(6, 27, 68, 0.911); 
    
  }
  span.nombre{
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
    padding-left: 12px;
    color:rgb(0, 0, 0);
  }
  div.pokemon img{
    width: auto;
    height: auto;
    background-color: whitesmoke;
    transition: width 0.5s, height 0.5s;
  }
  
      #check{
        display: none;
      }
      .menu{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        position:absolute;
        top: 60px;
        width: 0px;/* ancho de barra menu*/
        height: vh;
        background-color: #1f828d;
        border-radius: 10px;
        transition: all 300ms;
        overflow: hidden;
        border-bottom: 20px;
      }
      .menu li{
        list-style: none;
        padding: 16px;
        color: white;
        cursor: pointer;
        transition: all 300ms;
        border-radius: 20px;
        width: 250px;
        display: block;
        width: 300px;
      }
      .menu li:hover{
        background: #ee9c4a;
        border-bottom: 1px solid white; 
        width: 250px;
      }
      
      #check:checked ~ .menu{
        width:300px;
      } 
      .contenedor label{
        position: fixed; 
        width: 100%;
        max-width: 1000px;
        top: 14px; 
        font-size: 26px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
        z-index: 10;
      }  

 
      
   

     
   
    

      

