* {
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    background-color: rgb(8, 8, 151);
    background-image: url("images/fondo-principal-pokemon.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 400px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-right: 110px;
    margin-left: 90px;
    padding: 10px;
    border-radius: 20px;
    text-indent: 80px;
    font-size: 16px;
    color: rgb(236, 191, 12);
}

section::after{
    content: "";
    display: table;
    clear: both;
}

nav{
    float: left;
    background-color: rgb(8, 8, 151);
    margin-top: none;
    margin-bottom: 60px;
    margin-right: 110px;
    margin-left: 90px;
    padding-left: 30px;
    padding-bottom: 30px;
    height: inherit;
    width: 260px;
    border-radius: 20px;
    color: blanchedalmond
}

nav .button{
    background-color: rgb(8, 8, 151);
    border-style: outset;
    color: blanchedalmond;
    padding: 10px 38px;
    text-align: ce;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 8px;
    cursor: pointer;
    width: 80%;
}

nav u{
    list-style-type: none;
    padding: 0;
}

article{  
    float: left;
    height: 100%;
    width: 60%;
}

footer{
    background-color: rgb(8, 8, 151);
    font-size: 12px;
    padding: 18px;
    text-align: center;
    color: white;
}

div.pokemon{
    margin: 8px;
    float: left;
    width: 175px;
}

div.pokemon img{
    width: 100%;
    height: auto;
    background-color: rgb(223, 222, 222);
    border-radius: 20px;
}

span.numero{
    padding-left: 4px;
    vertical-align: top;
    font-size: 14px;
    color: rgb(0, 0, 0);
}

span.nombre{
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

span.normal{
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
    font-weight: bold;
    font-size: 14px;
    color: white;
    background-color: #787a74;
    border-radius: 4px;
    margin-left: 6px;
}

span.agua{
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
    font-weight: bold;
    font-size: 14px;
    color: white;
    background-color: #4592c4;
    border-radius: 4px;
    margin-left: 4px;
}

span.electrico{
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
    font-weight: bold;
    font-size: 14px;
    color: rgb(0, 0, 0);
    background-color: #fde724;
    border-radius: 4px;
    margin-left: 4px;
}

span.roca{
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
    font-weight: bold;
    font-size: 14px;
    color: white;
    background: #b99622;
    border-radius: 4px;
    margin-left: 4px;
}

span.volador{
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
    font-weight: bold;
    font-size: 14px;
    color: white;
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    border-radius: 4px;
    margin-left: 4px;
}

span.hielo{
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
    font-weight: bold;
    font-size: 14px;
    color: white;
    background-color: #21b3d8;
    border-radius: 4px;
    margin-left: 4px;
}
  
span.fuego{
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
    font-weight: bold;
    font-size: 14px;
    color: white;
    background-color: #fd7d24;
    border-radius: 4px;
    margin-left: 4px;
}