*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(pokedex/pokepattern.jpg);
}
header{
    background-color: crimson;
    padding: 6px;
    text-align: center;
    font-size: 18px;
    color: white;
    border-radius: 6px;
}
section::after{
    content: "";
    display: table;
    clear: both;
}
nav {
    float: left;
    background-color: dimgray;
    margin-top: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
    height: 100vh;
    width: 240px;
    color: white;
    border-radius: 50px;
}
nav ul{
    list-style-type: none;
    padding: 0;
}

nav .button{
    background-color: crimson;
    border-width: 4px;
    border-style: solid;
    border-radius: 8px;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    width: 80%;
}
nav .button:hover{
    background-color: teal;
    transition: 0.3s;
}
article{
    float: left;
    padding-left: 15px;
    margin-top: 10px;
    padding-top: 15px;
    margin-left: 120px;
    padding-bottom: 15px;
    height: 100%;
    width: 60%;
    background-color: white;
    border-radius: 3px;
    align-items: center;
}
footer{
    background-color: crimson;
    margin-top: 10px;
    padding: 18px;
    text-align: center;
    color: white;
    border-radius: 6px;
}
div.pokemon{
    margin: 5px;
    float: left;
    width: 180px;
}
div.pokemon img{
    width: 100%;
    height: auto;
    background-color: rgb(136, 161, 199);
    border-radius: 8px;
}
span.numero{
    padding-left: 6px;
    vertical-align: top;
    font-size: 14px;
    color: slateblue;
}
span.nombre{
    padding-left: 12px;
    font-size: 18px;
    font-weight: bold;
    color: slateblue;
}
span.agua{
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
    font-weight: bold;
    font-size: 14px;
    color: white;
    background-color: cornflowerblue;
    border-radius: 3px;
    margin-left: 4px;
}
span.veneno{
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
    font-weight: bold;
    font-size: 14px;
    color: white;
    background-color: slateblue;
    border-radius: 3px;
    margin-left: 4px;
}
span.lucha{
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
    font-weight: bold;
    font-size: 14px;
    color: white;
    background-color: rgb(128, 26, 0);
    border-radius: 3px;
    margin-left: 4px;
}
span.psiquico{
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
    font-weight: bold;
    font-size: 14px;
    color: white;
    background-color: violet;
    border-radius: 3px;
    margin-left: 4px;
}
span.planta{
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
    font-weight: bold;
    font-size: 14px;
    color: white;
    background-color: green;
    border-radius: 3px;
    margin-left: 4px;
}
